In [18]:
import pandas as pd


data = pd.read_csv("Train.csv")[["WHOIS_REGDATE", "WHOIS_UPDATED_DATE", "Type"]]
data.mask(data.eq('None')).dropna()
#pd.to_datetime(data["WHOIS_REGDATE"])

        WHOIS_REGDATE WHOIS_UPDATED_DATE  Type
2      7/10/1997 4:00    12/09/2013 0:45     0
3     12/05/1996 0:00    11/04/2017 0:00     0
4     3/08/2016 14:30     3/10/2016 3:45     0
5     29/07/2002 0:00     1/07/2016 0:00     0
6     18/03/1997 0:00    19/03/2017 0:00     0
...               ...                ...   ...
1426  17/09/2008 0:00     2/09/2016 0:00     1
1427  17/09/2008 0:00     2/09/2016 0:00     1
1428  15/02/1999 0:00    15/07/2015 0:00     0
1429   1/04/1998 0:00     9/12/2016 0:00     0
1430  14/11/2008 0:00    20/11/2013 0:00     0

[1335 rows x 3 columns]